<html lang="en">
<head>
<title>My flower recognizer</title>
</head> 
<body>
    <h3>Image Recognition Server</h3><br/>
    
    <form action = "" method = "post" enctype = multipart/form-data>
    <input type = file name = "file"><br/>
    
    <p>cat = 0</p><br/>
    <p>dog = 1</p><br/>
    <p>Enter animal number in text box:</p><br/>
    <input type = text name = "animal">

    <input type = submit value = Upload>
    </form>
    <p>The predicted values is: {{label}}</p>  
     
</body>
</html>